# 엔씨소프트
엔씨 소프트의 주가를 예측해보자. 지금 현시점 주가 가장 핫하다고 생각하여 엔씨소프트를 선택하여 '이것이 데이터 분석이다 whth 파이썬' 책의 'Chapter_3.2 비트코인 시세 예측하기' 부분을 응요해서 데이터 분석을 해볼것이다.

In [8]:
# %matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf


ncsoft_df = yf.download('036570.KS',
                      start='2020-01-01',
                      end='2021-09-30',
                      progress=False)

ncsoft_df = ncsoft_df[["Close"]]

ncsoft_df = ncsoft_df.reset_index()

ncsoft_df.columns = ['day', 'price']

ncsoft_df['day'] = pd.to_datetime(ncsoft_df['day'])

ncsoft_df.index = ncsoft_df['day']
ncsoft_df.set_index('day', inplace=True)
ncsoft_df

               price
day
2020-01-02  541000.0
2020-01-03  565000.0
2020-01-06  579000.0
2020-01-07  594000.0
2020-01-08  604000.0
...              ...
2021-09-23  584000.0
2021-09-24  596000.0
2021-09-27  583000.0
2021-09-28  571000.0
2021-09-29  574000.0

[432 rows x 1 columns]

In [13]:
ncsoft_train_df = ncsoft_df[:431]
ncsoft_train_df
ncsoft_test_df = ncsoft_df[431:]
ncsoft_test_df

               price
day
2021-09-29  574000.0